* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(bg2.jpg) no-repeat;
    background-size: cover;
    /* Check again after the webpage is built*/
    background-position: right;
    display: flex;
    color: rgb(211, 229, 231);
    font-size: 30px;
    align-items: center;
    padding: 70px 10% 0;
}